doctype html
html
  head
    title= title
    <nav>                
        <ul>
            <li><a href="http://localhost:1337/meisam">Meisam</a></li>
            <li><a href="http://localhost:1337/mojy">Mojy</a></li>
            <li><a href="http://localhost:1337/mansour">Mansour</a></li>
            <li><a href="http://localhost:1337/mohammad">Mohammad</a></li>
            <li><a href="http://localhost:1337/mahin">Mahin</a></li>
            <li><a href="http://localhost:1337">Index</a></li>
        </ul>
    </nav>
  body
    block content